/* Reset styles */
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

/* Base styles */
body {
  font-family: Arial, sans-serif;
  background-color: #1f1f1f;
  color: #ccc;
}

.weather-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-top: 10%;
  margin-bottom: 7pxpx;
  color: #fff; /* Title color for dark theme */
  text-shadow: 0 0 100px rgba(255, 255, 255, 0.5); /* Glow effect */
}

.subtitle {
  font-size: 18px;
  color: #ababab;
  margin-bottom: 50px;
  margin-top: 20px;

}

.field {
  margin-bottom: 30px; /* Increased padding between fields */
}

.label {
  font-weight: bold;
  margin-bottom: 10px;
}

.input {
  width: 40%;
  padding: 10px;
  border: 1px solid #555;
  border-radius: 4px;
  background-color: #333;
  color: #ccc;
}

.button {
  padding: 10px 20px;
  background-color: #ffffff;
  color: #000000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Added transition for glow effect */
  box-shadow: 0 20px 70px rgba(255, 255, 255, 0.3); /* Subtle glow effect */
}

.button:hover {
  background-color: #cfcfcf;
}

.column {
  margin-top: 20px;
  position: relative; /* Add relative positioning for background grid */
}

.column::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2) 1px, transparent 1px),
                    linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 1px, transparent 1px);
  background-size: 20px 20px; /* Adjust grid size as needed */
}


